body {
  padding: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid black;
  float: left;
}

.box-1 {
  border: 1px solid green;
  color: purple;
  background-color: aquamarine;
}

.box-2 {
  background-color: brown;
  border: 1px solid gray;
  color: white;
}

.box-3 {
  background-color: bisque;
  border: 1px solid blue;
  color: red;
}
