ul,
ol {
  list-style-type: none;
}

.para {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.para span {
  display: inline-block;
  padding: 5px;
  border: 1px solid red;
}

ul li {
  display: inline;
}
