.my-div {
  width: 500px;
  height: 102px;
  background-color: red;
  border: 1px solid green;
  /* margin: 0 auto; */
  margin-right: auto;
  margin-left: auto;
}

.container {
  /* elementele block au width-ul default 100% */
  width: 100%;
  border: 3px solid green;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.turquoise {
  background-color: turquoise;
  border: 1px solid blue;
  border-radius: 15px;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 11px;
  padding-left: 20px;
}
