.box {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.box-red {
  background-color: red;
  transition: width 3s linear;
}

.box-green {
  background-color: green;
  transition: transform 5s linear;
}

.box-green:hover {
  transform: rotate(360deg) scale(1.5);
}

.box-purple {
  background-color: purple;
}

.box-brown {
  background-color: brown;
  /* tranzitioneaza cu ease-in peste 4 secunde cu rotatie de -180 grade si scalare la 0.5 */
  transition: transform ease-in 4s;
}

.box-yellow {
  background-color: yellow;
  transition: transform 3s ease-in-out;
}

/* REST OF CODE HERE */
.box-purple {
  transition: width 4s ease 1s, height 4s ease 1s, color 6s linear;
}

.box-purple:hover {
  width: 100px;
  height: 100px;
  background-color: red;
}

.box-red:hover {
  width: 120px;
}

.box-brown:hover {
  transform: rotate(-180deg) scale(0.5);
}

.box-yellow:hover {
  transform: scale(2);
}
